html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* min-height: 100vh; */
    /* min-height: -webkit-fill-available; */
    /* background-image: url("../images/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}