.Home {
    min-height: 100vh;
    /* min-height: -webkit-fill-available; */
    /* width: 100vw; */
    /* min-height: 100vh; */
    /* background-image: url("../images/background.jpg"); */
    /* background-clip: content-box; */
}

body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
}

/*
    # Stretch the element to all the content heights of its parent
    height: 100% 
*/